.row-fluid
  .span6
    = f.label :nombre, f.object.nombre.titleize, :class => 'control-label input-small inline'
  .span2
    = f.text_field :nivel, :class => 'input-mini inline', :disabled => @disabled
    = f.hidden_field :habilidad_de_catalogo_id, :value => f.object.habilidad_de_catalogo.id
