.row-fluid
  .span12      
    %fieldset
      %legend
        = tipo_de_atributo.tipo.humanize        
      .row-fluid
        - @narizon.atributos.each do |atributo|
          - if atributo.tipo.eql? tipo_de_atributo.tipo
            = f.fields_for :atributos, atributo do |builder|            
              = render "atributo/atributo_render", :f => builder
