= form_for @poder do |f|

  = f.label :nombre, "nombre"
  = f.text_field :nombre

  = f.label :atributo_de_catalogo, "atributo"
  = f.collection_select :atributo_de_catalogo_id, AtributoDeCatalogo.all, :id, :nombre

  = f.label :precio, "precio"
  = f.text_field :precio
  
  .row
    -#= f.submit
    = submit_tag "enviar", :class => "btn btn-primary"