body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.badge-danger {
    
}

#pestana-content {
    margin-top: 40px;
}

.img140 {
    height: 140px;
    width: 140px;
    font-size: 140px;
    margin-bottom: 5px;
}
.text-80{
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.img40 {
    height: 30px;
    width: 30px;
}

.background {
    background-size:cover;
    background:url('/img/portada.jpg') no-repeat center top fixed;
    background-repeat:no-repeat;
    background-origin:content-box;
}

.habilidad_opcional {
    margin-bottom: -15px;
}

.bs-docs-sidebar.affix{
    position:static;
    margin-top: 20px;
    margin-right: 30px;
}

#resumen {
//    border-style: solid;
  //  border-width: 2px;
}

#resumen-atributos {
    margin-top: 10px;
    margin-bottom: 10px;
    dding-right: 15px;
}


.miniatura {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

.miniatura-icono img{
    width: 40px;    
    height: 40px;    
}

.btn-en-matriz{
    margin-bottom: 15px;    
}

.carousel {
    margin-top: 30px;
}

.carousel-inner {
    color:white;
}

.carousel-content .row fieldset legend {
    color:white;
}

.carousel-content {
    margin-bottom: 70px;
}

.carousel-inner{
 background-color:#343432;
}

.left{
}

.input-group-addon-65 {
  //  width:130px;
        width: 65%;    
}

.input-group-addon-35 {
//    width:30px;
//    width: 35%;    
}

.habilidad {
    margin-bottom: 5px;
}

.habilidad-opcional {
//    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.puntos-badge {
    margin-right: 10px;
}

.precio {
    margin-bottom: 20px;
}

.img-carousel {
    margin-bottom: 20px;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}