.span3
  .control-group
    .row-fluid
      .span6
        = f.label :nivel, f.object.nombre.humanize , :class => 'control-label inline atributo lead'
      .span2
        = f.text_field :nivel, :class => 'input-mini inline', :disabled => @disabled
        = f.hidden_field :atributo_de_catalogo_id, :value => f.object.atributo_de_catalogo.id

  = f.fields_for :habilidades do |builder|
    = render "habilidad/habilidad_render", :f => builder


  = f.label :nombre, f.object.atributo_de_catalogo.habilidad_opcional_de_catalogo.nombre.titleize, :class => 'control-label'

  = f.fields_for :habilidades_opcionales do |builder|
    = render "habilidad_opcional/hopcional_render", :f => builder