.row-fluid
  = f.collection_select :cona_de_catalogo_id, ConaDeCatalogo.all, :id, :to_s, {:prompt => "" }, :disabled => @disabled
  -#= f.text_field :nombre, :placeholder => f.object.nombre, :disabled => @disabled