.row-fluid
  = f.collection_select :tara_de_catalogo_id, TaraDeCatalogo.all, :id, :to_s, { :prompt => ""  }, :disabled => @disabled
  -#= f.text_field :nombre, :bplaceholder => f.object.nombre, :disabled => @disabled