<div class="row">
  <div  ng-repeat="atributo in narizon.atributos" class="col-lg-3">
    <div class="well form-inline">
      
      <div class="row lead">
	<span class="glyphicon glyphicon-thumbs-up text-center col-lg-12"></span>
      </div>

      <div class="input-group input-group-lg lead">
	<span class="input-group-addon input-group-addon-65 capitalize text-80">{{atributo.nombre}}</span>
	<input type="number" class="form-control input-group-addon-35" max="5" min="1" ng-model="atributo.nivel">
      </div>

      <div ng-repeat="habilidad in atributo.habilidades" class="input-group">
	<span class="input-group-addon habilidad input-group-addon-65 capitalize " ><div tooltip-placement="left" tooltip="{{habilidad.habilidad_de_catalogo.nombre | humanize}}" class="text-80">{{habilidad.habilidad_de_catalogo.nombre}}</div></span>
	<input type="number" class="form-control  input-group-addon-35" max="5" min="1" ng-model="habilidad.nivel">
      </div>

      <div class="input-group habilidad-opcional">
	<span class="input-group-addon input-group-addon-65 capitalize "><div class="text-80">{{atributo.atributo_de_catalogo.habilidad_opcional_de_catalogo.nombre}}</div></span>
	<span class="input-group-btn input-group-addon-35" ng-click="atributo.add_habilidad_opcional()" >
          <button class="btn btn-default"  type="button"> <span class="glyphicon glyphicon-plus"></span> </button>
	</span>
      </div>

      <!--form  class="form-inline">
	<div class="form-group">
	  <input type="text" class="form-control capitalize">
	</div>
	<div class="form-group">
	  <input type="number" class="form-control" max="5" min="1">
	</div>
      </form-->

      <div ng-repeat="habilidad_opcional in atributo.habilidades_opcionales" class="input-group">
	<input type="text" class="form-control capitalize input-group-addon-65 text-80" style="width:117px" ng-model="habilidad_opcional.especialidad"/>
	<span class="input-group-btn" style="width:0px;"></span>
	<input type="number" class="form-control  input-group-addon-35" ng-model="habilidad_opcional.nivel"/>
      </div>

    </div>
  </div>


</div>
