<div class="row">

  <div class="col-lg-12">
    <div class="alert alert-info">
      <h1>Coñas</h1>
      <p>Las coñas son ventajas innatas de tu personaje. Las más tentadoras suelen ser la más caras.</p>
    </div>
    


  </div>
</div>

<div class="row">

  <div ng-repeat="categoria in categorias_de_conas" class="col-lg-3">
    <button ng-click="$parent.range_selected = categoria" class="btn btn-lg btn-default col-lg-12 btn-en-matriz capitalize"> 
      <a href="#"> <span class="badge puntos-badge">{{categoria | range}}</span> Puntos</a>
    </button>
  </div>
  
</div>


<div class="row">
  <div class="col-lg-12">

    <carousel interval="-1">
      <slide ng-repeat="cona in conas | cona_range : range_selected" active="slide.active">

	<div class="carousel-content">

	  <div class="row">
	    <p><h1 class="text-center uppercase">{{cona.nombre | humanize}}</h1></p>
	    <div class="col-lg-2 col-lg-offset-2">
	      <img src="img/140x140.jpg" class="img-rounded img140 img-carousel"/>

	      <button type="button" class="btn btn-default active center-block precio col-lg-12"> 
		<a href="#">Puntos <span class="badge">{{cona.precio}}</span></a>
	      </button>

	      <button ng-click="narizon.addCona(cona)" class="btn btn-primary center-block col-lg-12">	 Seleccionar   </button>

	    </div>


	    <fieldset class="col-lg-6">
	      <legend>	  Descripción    </legend>
	      <p class="text-justify">Aquellos valientes narizones que luchan contra el poder establecido del Papa Alejo y cuya existencia se hace más y más dura a medida que la censura aumenta y van siendo exterminados por los fanhunters. Miembros de la resistencia, dibujantes de cómics y rolemasters conforman el grueso de esta categoría. 
		Ejemplos: Luke Skywalker, Curro Jiménez o Belit. 
		Dispone de 20 puntos en atributos, 16 en habilidades y 8 puntos libres.</p>

	    </fieldset>	      

	  </div>

	</div>

      </slide>
    </carousel>

  </div>
</div>


