<div>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-lg-3 control-label">Nombre del personaje</label>
      <div class="col-lg-9">
	<input type="text" class="form-control" id="inputEmail3" placeholder="Nombre del personaje" ng-model="narizon.nombre">
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-lg-12">

	<carousel interval="-1">
	  <slide ng-repeat="arquetipo in arquetipos" active="arquetipo.active">



	    <div class="carousel-content">
	      <p><h1 class="text-center uppercase">{{arquetipo.nombre | humanize}}</h1></p>

	      <div class="row">
		<div class="col-lg-2 col-lg-offset-2">
		  <img src="img/140x140.jpg" class="img-rounded img140 img-carousel"/>

		  <button ng-click="narizon.arquetipo = arquetipo" class="btn btn-primary center-block col-lg-12">	 Seleccionar   </button>

		</div>


		<fieldset class="col-lg-6">
		  <legend>	  Descripción    </legend>
		  <p class="text-justify">Aquellos valientes narizones que luchan contra el poder establecido del Papa Alejo y cuya existencia se hace más y más dura a medida que la censura aumenta y van siendo exterminados por los fanhunters. Miembros de la resistencia, dibujantes de cómics y rolemasters conforman el grueso de esta categoría. 
		    Ejemplos: Luke Skywalker, Curro Jiménez o Belit. 
		    Dispone de 20 puntos en atributos, 16 en habilidades y 8 puntos libres.</p>

		  <ul class="text-left">
		    <li>Puntos de Atributo: <span class="badge">{{arquetipo.puntos_de_atributo}}</span></li>
		    <li>Puntos de Habilidad: <span class="badge">{{arquetipo.puntos_de_habilidad}}</span></li>
		    <li>Puntos libres: <span class="badge">{{arquetipo.puntos_libres}}</span></li>
		  </ul>

		</fieldset>	      

	      </div>

	    </div>

	  </slide>
	</carousel>

    </div>

  </div>
</div>


