<div class="container" ng-controller="narizonesCtrl">
  <fieldset>
    <legend>
      Personajes {{numero}}
    </legend>
    
    <div class="row">

      <div class="col-lg-2">
	<a href="#/narizones/new" class="">

	<div class="panel panel-default">
	  <div class="panel-heading lead text-center"><p class="text-140">Crear nuevo</p></div>
	  <div class="panel-body">
	    <img src="img/add.png" class="img-rounded img140">
	  </div>
	</div>
	</a>

      </div>


      <div ng-repeat="narizon in narizones" class="col-lg-2">
	<a href="#/narizones/{{narizon.id}}" class="">

	<div class="panel panel-default">
	  <div class="panel-heading lead text-center"><p class="text-truncate">{{narizon.nombre}}</p></div>
	  <div class="panel-body">
	    <!--img src="img/140x140.jpg" class="img-rounded img140"></img-->
	    <div class="glyphicon glyphicon-user img140"/>
	  </div>
	</div>
	</a>

      </div>
    </div>
  </fieldset>

</div>
