<div>

  <div class="row">

    <div id="resumen" class="col-lg-2">
      <div ng-include=" 'partials/resumen.html' "></div>
    </div>



    <div class="col-lg-10">

      <div class="row">

	<ul class="nav nav-tabs nav-justified">
	  <li ng-class="isActive('datos') | active" ><a ng-href="#/narizones/{{narizon.id}}/datos">Datos</a></li>
	  <!-- TODO: ampliar la funcionalidad para se pueda sustituir el link por narizon.getPestana('poderes') o algo asi -->
	  <li ng-class="isActive('atributos_y_habilidades') | active"><a ng-href="#/narizones/{{narizon.id}}/atributos_y_habilidades">Atributos & Habilidades</a></li>
	  <li ng-class="isActive('poderes') | active"><a ng-href="#/narizones/{{narizon.id}}/poderes">Poderes</a></li>
	  <li ng-class="isActive('taras') | active"><a ng-href="#/narizones/{{narizon.id}}/taras">Taras</a></li>
	  <li ng-class="isActive('conas') | active"><a ng-href="#/narizones/{{narizon.id}}/conas">Coñas</a></li>
	</ul>

      </div>



    <div id="pestana-content" class="row">
      <div ng-include="'partials/' + pestana + '.html'"></div>
    </div>


    </div>
  </div>
</div>
