<div ng-controller="navbarCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FANHUNTER</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="#/narizones">Fichas</a></li>
        <!--li><a href="#about"></a>Aventuras</li>
        <li><a href="#contact">FAQ</a></li-->
      </ul>
      

    </div><!--/.nav-collapse -->
  </div>
</div>
