  <div class="row">
    <div class="col-md-12">
      <fieldset>
	<legend>
	  Datos personales del narizon
	</legend>
	<div class="row">
	  <div class="col-md-1">
	    <label class="inline" for="narizon_nombre">Nombre</label>
	  </div>
	  <div class="col-md-3">
	    <input class="inline form-control" id="narizon_nombre" size="30" type="text" ng-disabled="read_only" ng-model="narizon.nombre"/>
		  </div>
	  <div class="col-md-1">
	    <label class="inline" for="narizon_arquetipo">Arquetipo</label>
	  </div>
	  <div class="col-md-3">
	    <select class="inline form-control" ng-model="narizon.arquetipo.id" ng-options="a.id as a.nombre for a in arquetipos" ng-disabled="read_only"/>
	  </div>
	  <div class="col-md-1">
	    <label class="inline" for="narizon_jugador">jugador</label>
	  </div>
	  <div class="col-md-3">
	    <input class="inline form-control" ng-disabled="read_only" id="narizon_jugador" size="30" type="text" ng-model="narizon.jugador" />
	  </div>
	</div>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <fieldset ng-repeat="tipo_atributo in ['Fisico', 'Mental']">
	<legend>
	  {{tipo_atributo}}
	</legend>
	<div class="row">
	  <div class="col-md-3" ng-repeat="atributo in narizon.atributos_tipo(tipo_atributo.toLowerCase())">
	    <div class="row">
	      <div class="col-md-6">
		<label class="control-label inline atributo lead" for="atributo_{{atributo.atributo_de_catalogo.nombre}}">{{atributo.atributo_de_catalogo.nombre}}</label>
	      </div>
	      <div class="col-md-3  col-md-offset-1">
		<input class="form-control inline" ng-disabled="read_only" id="atributo_{{atributo.atributo_de_catalogo.nombre}}" size="30" type="text" ng-model="atributo.nivel" />
	      </div>
	    </div>
	    <div class="row" ng-repeat="habilidad in atributo.habilidades">
	      <div class="col-md-6">
		<label class="control-label input-sm inline" for="habilidad_{{habilidad.nombre}}">{{habilidad.habilidad_de_catalogo.nombre}}</label>
	      </div>
	      <div class="col-md-3 col-md-offset-1">
		<input class="form-control inline" ng-disabled="read_only" id="habilidad_{{habilidad.habilidad_de_catalogo.nombre}}" size="30" type="text" ng-model="habilidad.nivel" />
	      </div>
	    </div>

	    <label class="control-label" for="{{atributo.atributo_de_catalogo.habilidad_opcional_de_catalogo}}">{{atributo.atributo_de_catalogo.habilidad_opcional_de_catalogo.nombre}}</label>
	    <div class="control-group">
	      <div class="row habilidad_opcional" ng-repeat="habilidad_opcional in atributo.habilidades_opcionales">
		<div class="col-md-6  col-md-offset-1">
		  <input class="input-sm inline form-control" ng-disabled="read_only"  id="{{habilidad_opcional.habilidad_opcional_de_catalogo.nombre}}" size="30" type="text" ng-model="habilidad_opcional.especialidad" />
		</div>
		<div class="col-md-3">
		  <input class="form-control inline" ng-disabled="read_only" placeholder="0" size="30" type="text" ng-model="habilidad_opcional.nivel" />
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </fieldset>
    </div>
  </div>
  
  <hr/>
    <div class="row">
      <div class="col-md-3">
	<label class="lead">PODERES</label>
	<div class="row" ng-repeat="pod in narizon.poderes">
	  <select class="form-control" ng-disabled="read_only" ng-model="narizon.poderes[$index].poder_de_catalogo.id" ng-options="poder.id as poder.toString() for poder in poderes"/>
	</div>
      </div>
      
      <div class="col-md-3  col-md-offset-1">
	<label class="lead" for="narizon_conas">COÑAS</label>
	<div class="row" ng-repeat="cona in narizon.conas">
	  <select class="form-control" ng-disabled="read_only" ng-model="narizon.conas[$index].cona_de_catalogo.id" ng-options="cona.id as cona.toString() for cona in conas"/>
	</div>
      </div>
      
      
      <div class="col-md-3 col-md-offset-1">
	<label class="lead" for="tara in narizon_taras">TARAS</label>
	<div class="row" ng-repeat="tara in narizon.taras">
	  <select class="form-control" ng-disabled="read_only" ng-model="narizon.taras[$index].tara_de_catalogo.id" ng-options="tara.id as tara.toString() for tara in taras"/>
	</div>
      </div>
      
    </div>
    <hr/>
