<!--div class="col-lg-10">

  <ul class="nav nav-tabs">
    <li><a href="datos">Datos</a></li>
    <li><a ng-href="#/narizones/{{narizon.id}}/attributos_y_habilidades">Atributos & Habilidades</a></li>
    <li><a href="poderes">Poderes</a></li>
    <li><a href="taras">Taras</a></li>
    <li><a href="conas">Coñas</a></li>
  </ul>

</div-->
