<div class="row">

  <div class="col-lg-6">
    <div class="alert alert-info">
      <h1>Fuertes</h1>
      <p>Estos son tus atributos más poderosos. Los poderes asociados a estos atributos serán más potentes.</p>
    </div>    
  </div>

  <div class="col-lg-6">
    <div class="alert alert-info">
      <h1>Débiles</h1>
      <p>Estos son tus atributos más debiles. Los poderes asociados a estos atributos tendrán unos efectos bastante pobres</p>
    </div>
  </div>

</div>



<div class="row">
  <div class="col-lg-6 text-center">
    <div class="row">

      <div ng-repeat="atributo in narizon.getAtributos(narizon.atributos[0].esFuerte)" class="col-lg-6">
	<button ng-click="$parent.att_selected = atributo" class="btn btn-lg btn-default col-lg-12 btn-en-matriz capitalize"> 
	  <a href="#" class="glyphicon glyphicon-thumbs-up"></a>
	  <a class="" href="#">{{atributo.nombre}} <span class="badge">{{atributo.nivel}}</span></a>
	</button>
      </div>

    </div>
  </div>

  <div class="col-lg-6 text-center">
    <div class="row">

      <div ng-repeat="atributo in narizon.getAtributos(narizon.atributos[0].esDebil)" class="col-lg-6">
	<button ng-click="$parent.att_selected = atributo" class="btn btn-lg btn-default col-lg-12 btn-en-matriz capitalize"> 
	  <a href="#" class="glyphicon glyphicon-thumbs-up"></a>
	  <a class="" href="#">{{atributo.nombre}} <span class="badge">{{atributo.nivel}}</span></a>
	</button>
      </div>

    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-12">

    <carousel interval="-1">
      <slide ng-repeat="poder in poderes | filter : att_selected.esSuyo(poder)" active="slide.active">
	
	<div class="carousel-content">

	  <div class="row">
	    <p><h1 class="text-center uppercase">{{poder.nombre | humanize}}</h1></p>
	    <div class="col-lg-2 col-lg-offset-2">
	      <img src="img/140x140.jpg" class="img-rounded img140 img-carousel"/>

	      <div type="button"  class="btn btn-default active center-block precio col-lg-12"> 
		<a href="#">Nivel <span class="badge">{{poder.getNivel(narizon)}}</span></a>
	      </div>

	      <button type="button" class="btn btn-default active center-block precio col-lg-12"> 
		<a href="#">Precio <span class="badge">{{poder.precio}}</span></a>
	      </button>

	      <button ng-click="narizon.addPoder(poder)" class="btn btn-primary center-block col-lg-12">	 Seleccionar   </button>

	    </div>


	    <fieldset class="col-lg-6">
	      <legend>	  Descripción    </legend>
	      <p class="text-justify">Aquellos valientes narizones que luchan contra el poder establecido del Papa Alejo y cuya existencia se hace más y más dura a medida que la censura aumenta y van siendo exterminados por los fanhunters. Miembros de la resistencia, dibujantes de cómics y rolemasters conforman el grueso de esta categoría. 
		Ejemplos: Luke Skywalker, Curro Jiménez o Belit. 
		Dispone de 20 puntos en atributos, 16 en habilidades y 8 puntos libres.</p>

	    </fieldset>	      

	  </div>

	</div>

      </slide>
    </carousel>

  </div>
</div>
