<div class="jumbotron">
  <h1 class="text-center">¡Bienvenido a FanHunter! <small>El juego de rol &eacute;picodecadente</small></h1>
  <p class="lead text-center">
    Esperamos que disfrutes creando fichas de personaje
  </p>
</div>

<!--div class="cover">


  <div class="clearfix">
    <h1>fdjkslfsd</h1>
  </div>

</div-->
