<div id="affix" class="bs-docs-sidebar hidden-print affix row">

  <fieldset>

    <legend class="text-center">
      Resumen
    </legend>

    <div class="row text-center">
      <p class="lead capitalize">{{narizon.nombre | humanize}}</p>
    </div>

    <div class="row text-center">
      <p class="lead capitalize">{{narizon.arquetipo.nombre | humanize}}</p>
    </div>

    <div ng-show="narizon.arquetipo" class="row">
      <div class="col-lg-12 text-center">
	<img class="img-rounded " src="img/140x140.jpg"/>
      </div>
    </div>


    <div ng-show="narizon.arquetipo" id="resumen-atributos" class="row  text-center">
      
      <div ng-repeat="atributo in narizon.atributos" class="btn btn-sm col-lg-3">
	<span class="glyphicon glyphicon-thumbs-up"></span>
	<span class="badge">{{atributo.nivel}}</span>
      </div>

    </div>


    <div ng-show="narizon.arquetipo" class="row">
      <p>Puntos </p>
      <ul>
	<li>Atributo: <span class="badge">{{puntos_de_atributo}} / {{narizon.arquetipo.puntos_de_atributo}}</span></li>
	<li>Habilidad: <span class="badge">{{puntos_de_habilidad}} / {{narizon.arquetipo.puntos_de_habilidad}}</span></li>
	<li>Libres: <span class="badge">{{puntos_libres}} / {{narizon.arquetipo.puntos_libres}}</span></li>
	<li class="text-danger" ng-show="puntos_de_deuda">Por pagar: <span class="badge alert-danger">{{puntos_de_deuda}}</span></li>
      </ul>
    </div>


    <div class="row">

	<div ng-repeat="poder in narizon.poderes" class="miniatura col-lg-offset-1 col-lg-5">
	  
	  <div class="row miniatura-cabecera">
	    <span class="badge">{{poder.precio}}</span>	  
	    <button ng-click="deletePoder(narizon, poder)" type="button" class="close" aria-hidden="true">&times;</button>
	  </div>

	  <div class="row miniatura-icono text-center">
	    <img src="img/escudo.png" class="img-rounded"/>
	  </div>
	  
	  <div class="row miniatura-nombre ">
	    <div class="text-center text-truncate">
	    {{poder.poder_de_catalogo.nombre | humanize}}
	    </div>
	  </div>

	</div>

	<div ng-repeat="tara in narizon.taras" class="miniatura col-lg-offset-1 col-lg-5">
	  
	  <div  class="row miniatura-cabecera">
	    <span class="badge">{{tara.tara_de_catalogo.valor}}</span>	  
	    <button ng-click="deleteTara(narizon, tara)" type="button" class="close" aria-hidden="true">&times;</button>
	  </div>

	  <div class="row miniatura-icono text-center">
	    <img src="img/escudo.png" class="img-rounded"/>
	  </div>

	  <div class="row miniatura-nombre text-center">
	    <div class="text-center text-truncate">
	    {{tara.tara_de_catalogo.nombre | humanize}}
	    </div>
	  </div>

	</div>

	<div ng-repeat="cona in narizon.conas" class="miniatura col-lg-offset-1 col-lg-5">
	  
	  <div  class="row miniatura-cabecera">
	    <span class="badge">{{cona.cona_de_catalogo.precio}}</span>	  
	    <button ng-click="deleteCona(narizon, cona)" type="button" class="close" aria-hidden="true">&times;</button>
	  </div>

	  <div class="row miniatura-icono text-center">
	    <img src="img/escudo.png" class="img-rounded"/>
	  </div>

	  <div class="row miniatura-nombre text-center">
	    <div class="text-center text-truncate">
	    {{cona.cona_de_catalogo.nombre | humanize}}
	    </div>
	  </div>

	</div>

        <button type="submit" ng-click="open()" class="btn btn-danger navbar-btn pull-right">Eliminar ficha</button>


    </div>

  </fieldset>
</div>


<script type="text/ng-template" id="myModalContent.html">

  <div class="modal-header">
    <h3 class="modal-title">Borrar narizon</h3>
  </div>
  <div class="modal-body">
    <!--Kiki, este es el botón de borrar. Luego no me llores.-->
    ¿Está seguro de que desea borrar la ficha?
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" ng-click="borrar()">Eliminar</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancelar</button>
  </div>

</script>
