.row-fluid
  .span12
    %fieldset
      %legend
        Datos personales del narizon
      .row-fluid
        .span1
          = label :narizon, :nombre, 'Nombre', :class => 'inline'
        .span3
          = text_field :narizon, :nombre, :disabled => @disabled, :class => 'inline'

        .span1
          = label :narizon, :arquetipo, 'Arquetipo', :class => 'inline'
        .span3
          = collection_select :narizon, :arquetipo_id, Arquetipo.all, :id, :nombre_formulario, {},:disabled => @disabled

        .span1
          = label :narizon, :jugador, 'jugador', :class => 'inline'
        .span3
          = text_field :narizon, :jugador, :disabled => @disabled, :class => 'inline'
