.control-group
  .row-fluid
    .span4.offset2
      = text_field :habilidad_opcional, :especialidad, :class => 'input-small inline', :disabled => disabled
    .span2
      = text_field :habilidad_opcional, :nivel, :class => 'input-mini inline', :disabled => disabled, :placeholder => '0'