= form_for @narizon do |f|

  - unless @narizon.errors.empty?

    Eres tan manco que has fallado en todo esto:

    %ul

      - @narizon.errors.full_messages.each do |error|
        %li= error
  
  = render :partial => "narizones/nombre_render", :locals => {:ficha => @narizon}
  = render :partial => "tipos_de_atributo/tipo_de_atributo", :collection => @narizon.tipos_de_atributo, :as => :tipo_de_atributo, :locals => {:f => f}


  %hr
    .row
      .span4
        = f.label :poderes, "PODERES", :class => "lead"
        = f.fields_for :poderes do |builder|
          = render "poderes/poderes", :f => builder

      .span4
        = f.label :conas, "COÑAS", :class => "lead"                      
        = f.fields_for :conas do |conas_builder|
          = render "conas/conas", :f => conas_builder

      .span4
        = f.label :taras, "TARAS", :class => "lead"                      
        = f.fields_for :taras do |taras_builder|
          = render "taras/taras", :f => taras_builder         
  %hr
  = submit_tag 'Enviar Ficha', :class => 'btn btn-primary'