= form_tag narizones_path do
  = render :partial => "narizones/nombre_render", :locals => {:disabled => true, :ficha => @ficha}
  
  .row-fluid
    .span12
      - ['fisico', 'mental'].each do |grupo|
        %fieldset
          %legend
            = grupo.camelize
          .row-fluid
            = render :partial => "narizones/atributo_render", :locals => {:disabled => true}, :collection => @ficha.atributos.select{ |atributo| atributo.tipo.eql?(grupo)}, :as => :atributo

  %hr
  = link_to 'Volver', narizones_path