.row-fluid
  = f.collection_select :poder_de_catalogo_id, PoderDeCatalogo.all, :id, :to_s, { :prompt => "" }, :disabled => @disabled
  -#= f.hidden_field :narizon, :value => @narizon
  -#= collection_select :narizon, :poderes, PoderDeCatalogo.all, self, :to_s, { :prompt => "" }, :disabled => @disabled
  -#= f.text_field :nombre, :placeholder => f.object.nombre, :disabled => @disabled