.control-group
  .row-fluid.habilidad_opcional
    .span4.offset1
      = f.text_field :especialidad, :class => 'input-small inline', :disabled => @disabled
    .span2.offset1    
      = f.text_field :nivel, :class => 'input-mini inline',:placeholder => 0, :disabled => @disabled
      = f.hidden_field :habilidad_opcional_de_catalogo_id, :value => f.object.habilidad_opcional_de_catalogo.id
      
